@CHARSET "ISO-8859-1";

body {
	background-color: black;
    font-size:12px;
}

#corpo {
	margin: auto;
	width: 1100px;
	height: auto;
	background-color: white;
}

#topo {
	margin: auto;
	float: left;
	width: 1100px;
	height: 150px;
	background-color: white;
}

#topo img {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 220px;
}

#telas {
	margin-left: 200px;
}

#sse50 {
	border: solid 1px black;
	background-color: #444;
	padding: 0px;
	/*changing its value will give menu margins to its container*/
	text-align: center;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#sses50 {
	border-right: solid 1px #777;
	margin: 0 auto;
	/*If you don't want the menu center aligned, remove this line and above text-align:center*/
	font-size: 0;
}

#sses50 ul,#sses50 li {
	display: inline;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 0;
	background-image: none;
}

#sses50 a {
	text-align: center;
	display: inline-block;
	font: normal 11px Verdana;
	background: url('mb50_2.gif') no-repeat left top;
	padding: 10px 20px; /*This defines the size of each menu item*/
	color: white;
	text-decoration: none;
}

#sses50 a:hover,#sses50 a.current {
	background-position: 0% -60px;
	color: white;
}


.semBorda tr, .semBorda td {  
    border: none !important;     
    background:white !important;	
     
}

.ui-button{
color:black !important;
background:  #87CEFA  !important;
}


.ui-panel{  
   border: none !important;     
    background:white !important;	
}